
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background: #2f3e46;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-weight: 500;
}

.sidebar a.active {
  font-weight: bold;
  color: #ffd60a;
}

.main {
  flex: 1;
  padding: 20px;
}

/* Card */
.card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  background: rgb(179, 172, 172);
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* Buttons */
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Input Group */
.input-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 4px;
  font-weight: 500;
}

.input-group input,
.input-group select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.completed {
  color: green;
  font-weight: 500;
}

.pending {
  color: orange;
  font-weight: 500;
}


.controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.search {
  width: 50%;
  padding: 6px;
  margin-bottom: 10px;
  
}

/* Pagination */
.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: rgb(230, 18, 18);
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* Dashboard Cards */
.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dashboard-cards .card {
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

.task-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 12px; 
}

.task-list .card {
  flex: 1 1 calc(33.33% - 12px); /* 3 cards per row */
  min-width: 250px;
}

